.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  
    border-radius: 10px;
    margin-bottom: 20px;
    color: #fff;
}

.nav-link{
    color: white;
    font-family: 'Jost-Regular', sans-serif;
    font-size: 18px;
    


}

